///* ========================================================================
//   #CONFIG
//   ======================================================================== */

// A map of global config settings. Define any project-level configuration,
// feature switches, etc. in here.

// The compiler will include a different path based on NODE_ENV that will contain different
// values for the same env variables. They are storred in src/styles/env
$isDebug: false !default;

@if ($ENV == "development") {
	$isDebug: true;
}

$config: (
	env: $ENV,
	debug: $isDebug
);

/// You can access data in this map using the following function:
///
/// config(<key>)
///
/// Example usage:
///
/// @if (config(debug) == true) { ...  }
@function config($key) {
	@return map-get($config, $key);
}
